snippet te
	{ "name": "ToothExists", "strictness": "Regular", "tooth": "${0}" },
snippet tne
	{ "not": { "name": "ToothExists", "strictness": "Regular", "tooth": "${0}" } },
snippet rule
	{ "name": "${1}" }${0}
